body {
background-color: gold;
}

/* Estilo de Menu */
nav{
	width: 100%;
	position: relative;
    font-style:oblique; 
	font-family: 'Ginger Bold';
	font-size: 12px;
	font-weight: bold;
	display: flex;
	justify-content: space-around;
}
nav ul{
	width: 400px;
	display: flex;
	justify-content: space-around;
	padding-top: 40px;
	margin: auto;
}
.menu ul li {
    display: inline-block;
    color: black;
}

.menu ul li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}


/* Estilo do Contact*/

nav .contact{
    width: 35%;
    text-align: center;
    margin-top: -54px;
    color: black;
}
   

/*Distribuição do Espaçamento */

    .menu{
        width:90%;
        float:left;
    }
    .contact{
        width:10%;
        float:right;
    }

    /*Seta de Rolagem */

    .col-100 {
        width: 100%;
        float: left;
        position:relative;
    }
    .scroll-arrow{
        display: flex;
        justify-content: center;
        width: 100%;
        position: absolute;
        bottom: 80px;
    }
    .scroll-arrow div{
        position: relative;
        width: 16px;
        height: 2px;
        background-color: #000;
    }
    .scroll-arrow div:first-child{
        transform: skewY(20deg);
    }
    .scroll-arrow div:last-child{
        transform: skewY(-20deg);
    } 


    #intro .part1 {
            background: url('/img/illustration.jpeg') center no-repeat;
            margin:auto;
            width: 370px;/* Faz a largura ficar igual a da largura da imagem de exemplo */
            height: 315px;/* Faz a altura ficar igual a da altura da imagem de exemplo */
            mix-blend-mode: multiply;
            }
     

    /*About Me */
    #intro  .part2{
        text-align: center;
        float: left;
        margin-top: 350px;
    }